*
{
    box-sizing: border-box;
    margin: 0;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: floralwhite;
}
body
{
    text-align: center;
    background-color: #fffaf0;
    font-family: sans-serif;
}
nav
{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
div
{
    border: 1px solid grey;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}
form
{
    width: 40%;
    min-height: 50vh;
    background: rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    border-radius: clamp(0.5rem, 1rem, 1.5rem);
    padding: clamp(1.5rem, 2rem, 3rem);
}
textarea,
input
{
    width: 80%;
    background: #252525;
}
textarea
{
    height: clamp(5rem, 100px, 15rem);
    border-bottom: clamp(0.125rem, 0.25rem, 0.5rem) solid gray;
    font-size: 18px;
}
input
{
    height: clamp(2rem, 2.5rem, 4rem);
    border-bottom: clamp(0.125rem, 0.25rem, 0.5rem) solid gray;
    font-size: clamp(1rem, 1.125rem, 1.5rem);
}
h1
{
    font-size: clamp(1.25rem, 1.50rem, 1.75rem);
    padding-top: clamp(0.5rem, 1rem, 1.5rem);
    padding-bottom: clamp(0.5rem, 1rem, 1.5rem);
    color: grey;
}
h2
{
    font-size: clamp(1rem, 1.25rem, 1.50rem);
    color: grey;
}
#header {
    font-size: clamp(1rem, 1.25rem, 1.50rem);
    padding-bottom: clamp(0.5rem, 1rem, 1.5rem);
    color: grey;
}
h3
{
    font-size: clamp(1rem, 1.25rem, 1.50rem);
    padding-top: clamp(0.5rem, 1rem, 1.5rem);
    padding-bottom: clamp(0.5rem, 1rem, 1.5rem);
}
p
{
    padding-top: clamp(0.25rem, 0.50rem, 0.75rem);
    padding-bottom: clamp(0.25rem, 0.50rem, 0.75rem);
    color: grey;
}
button
{
    width: clamp(4.75rem, 6rem, 9.75rem);
    height: clamp(1.75rem, 2rem, 3.75rem);
    border-radius: clamp(0.5rem, 1rem, 1.5rem);
    cursor: pointer;
    background: #4242eb;
    font-size: clamp(0.75rem, 1rem, 1.25rem);
}
@media (max-width: 700px)
{
    form
    {
        width: 96%;
    }
}
