
*
{
    box-sizing: border-box;
    margin: 0;
    border: none;
    color: paleturquoise;

}

body
{
    background: linear-gradient(45deg , rgba(0,0,0,0.7) , rgba(0,0,0,0.7)) , url('bg1.jpg');
    text-align: center;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
h1
{
    color: paleturquoise;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav
{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
div {
     border: 1px solid #ccc;
     padding: 15px;
     margin-bottom: 15px;
     border-radius: 5px;
}
form {
    width: 40%;
    min-height: 50vh;
    background: rgb(0,0,0,0.5);
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: clamp(5rem, 10vh, 10rem);
    border-radius: clamp(0.5rem, 1rem, 1.5rem);
    padding: clamp(1.5rem, 2rem, 3rem);

}

textarea {
    width: 80%;
    height: clamp(5rem, 100px, 15rem);
    border-bottom: clamp(0.125rem, 0.25rem, 0.5rem) solid gray;
    background: #252525;
    color: white;
    font-size: 18px;
}
input
{
    width: 80%;
    height: clamp(2rem, 2.5rem, 4rem);
    border-bottom: clamp(0.125rem, 0.25rem, 0.5rem) solid gray;
    background-color: #252525;
    color: white;
    font-size: clamp(1rem, 1.125rem, 1.5rem);
}

h1
{
    font-size: clamp(1.25rem, 1.5rem, 2rem);
}

button
{
    width: clamp(4.75rem, 6rem, 9.75rem);
    height: clamp(1.75rem, 2rem, 3.75rem);
    border-radius: clamp(0.5rem, 1rem, 1.5rem);
    color: white;
    cursor: pointer;
    background: rgb(66, 66, 235);
    font-size: clamp(0.75rem, 1rem, 1.25rem);
}
@media (max-width: 700px) {
    form {
        width: 96%;
    }
}
